.row {
    display: flex;
}

.col {
    background-color: rgb(0, 143, 95);
    color: azure;
    display: inline-block;
    margin: 10px;
    flex: 1;
}

.col2 {
    background-color: rgb(0, 143, 95);
    color: azure;
    display: inline-block;
    margin: 10px;
    flex: 2;
}

.col3 {
    background-color: rgb(0, 143, 95);
    color: azure;
    display: inline-block;
    margin: 10px;
    flex: 3;
}



div {
    padding: 20px 0px;
}