* {
    margin: 0px;
    padding: 0px;
}

#main {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: xx-large;
    color: white;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

