<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>{{recipe.name}}</H1>
    <div style="border: 2px solid black;">
        <p>Description: {{recipe.description}}</p>
        <p>Under 30 minutes: {{recipe.cook_time}}</p>
        <p>Instructions: {{recipe.instructions}}</p>
    </div>
    <a href="/logout">Log Out</a>
    <a href="/dashboard">Dashboard</a>
</body>
</html>